body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url("https://images.pexels.com/photos/2919587/pexels-photo-2919587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}


td, th {
	border: 2px solid;
  color: white;

  }
  
#main-title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#jupiter-facts{
  background-color: rgb(172, 111, 58);
}

#Saturn-facts{
  background-color: rgb(250, 201, 137);
}

#Neptune-facts{
  background-color: rgb(59, 75, 136);
}

#Mercury-facts{
  background-color: rgb(114, 113, 112)
}